services:
  ${caName}-ocsp:
    build: ./ocsp-root/
    init: true
    networks:
      proxy-internal:
    volumes:
      - ${caName}-ocsp-data:/etc/ocsp
    restart: unless-stopped
  
  proxy:
    volumes:
      - ./${proxyFile}:/etc/nginx/conf.d/${caName}.http

