#!/usr/bin/sh
step ca renew /certs/${caName}/ocsp/ocsp.crt /certs/${caName}/ocsp/ocsp.key --ca-url https://${caName}-ca/ --root /certs/${caName}/root_ca.crt --pid 1 --force --daemon &
step ca renew /certs/${caName}/proxy/cert.crt /certs/${caName}/proxy/cert.key --ca-url https://${caName}-ca/ --root /certs/${caName}/root_ca.crt --pid 1 --force --daemon &