server {
    listen      80;
    listen [::]:80;
    server_name   ${serverName};

    include /etc/nginx/conf.d/*.http;
}


# TODO: Add HTTPS server
#server {
#    listen      80;
#    listen [::]:80;
#    server_name   ${serverName};
#
#    include /etc/nginx/conf.d/*.https;
#}