
server {
    listen      80;
    listen [::]:80;
    server_name   ${serverName};

    location /ocsp {
        proxy_pass  "http://${rootName}-ocsp:80/";
    }
    # TODO: Add Crl Location
}

# TODO: Add https crt location